extends ../layout

block content
    h1.
        Infophoto #{user._id}
    p firstName: #{user.firstName}
    p lastName: #{user.lastName}
    p email: #{user.email}
    p picture: #{user.picture}
    p questions: #{user.questions}